.container {
    margin: 5em auto;
    border: 5px solid blue;
    height: 20em;
    width: 40em;
    display: flex;
    justify-items: space-around;
    align-items: space-around;
    align-content: center;
    justify-content: center;
    flex-flow: wrap column;
}

.box {
    border: 1px solid teal;
    width: 20%;
    height: 8em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap column;
    background-color: tan;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: gray;
}
